# Airflow configuration
AIRFLOW_UID=1000
AIRFLOW__CORE__FERNET_KEY=GENERATED_FERNET_KEY

# GCP configuration
GCP_PROJECT_ID=your-project-id
GCS_BUCKET=your-bucket-name
GCP_DATASET=crypto_dataset
GCP_REGION=europe-west1
GCP_LOCATION=EU
